 .u-section-1 {
  background-image: linear-gradient(#545af8, #e84a90);
}

.u-section-1 .u-sheet-1 {
  min-height: 851px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 982px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 743px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 69px 14px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 14px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 425px;
  object-position: 50% 100%;
  width: 460px;
  margin: 35px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 741px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-1 .u-image-2 {
  height: 367px;
  object-position: 50% 14.89%;
  width: 391px;
  margin: 24px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: 18px 44px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -41px 90px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  margin: 25px auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  margin: 8px auto 0 20px;
}

.u-section-1 .u-icon-2 {
  width: 179px;
  height: 179px;
  margin: 8px auto 0 37px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  margin: -179px auto 0 20px;
}

.u-section-1 .u-text-7 {
  text-decoration: underline !important;
  margin: 41px 63px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 711px;
  }

  .u-section-1 .u-image-1 {
    height: 420px;
    width: 455px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 709px;
  }

  .u-section-1 .u-image-2 {
    height: 355px;
    width: 378px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -23px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 311px;
    width: 337px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 265px;
    width: 282px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 22px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 295px;
    width: 320px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -33px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 866px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 806px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 21px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  background-image: url("images/pexels-photo-7275385.jpeg");
  background-position: 50% 19.21%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
} .u-section-3 {
  background-image: linear-gradient(#e84a90, #ef7daf);
}

.u-section-3 .u-sheet-1 {
  min-height: 589px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 12px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 500px;
  width: 1020px;
  margin: 5px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-3 .u-icon-1 {
  width: 173px;
  height: 173px;
  margin: 15px auto 0 335px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: -39px 0 0;
}

.u-section-3 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 22px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  width: 191px;
  margin: 5px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  width: 136px;
  margin: 10px auto 0;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 147px;
  height: 147px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: -13px 35px 0;
}

.u-section-3 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  width: 191px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  width: 136px;
  margin: 12px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  left: 0;
  right: auto;
  position: absolute;
  padding: 0;
}

.u-section-3 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  position: absolute;
  right: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 266px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 109px;
  }
}